<html>
<head>
	<title>Sniper</title>

	<script src="/bower_components/requirejs/require.js"></script>
	<script src="app/config.js"></script>

	<script src="/app/main.js"></script>

	<link rel="stylesheet" href="app/styles/desktop.css">
</head>
<body>
	<canvas id="area"></canvas>
	<div class="code">
		<h1>codigo e: <span></span></h1>
		<div class="status"></div>
	</div>
</body>
</html>