<html>
<head>
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<title>Sniper</title>

	<script src="/bower_components/requirejs/require.js"></script>
	<script src="/app/config.js"></script>

	<script src="/app/mobile.js"></script>

	<link rel="stylesheet" href="/app/styles/mobile.css">
</head>
<body>
<h1>introduz codigo</h1>
<input type="text" name="" value="" placeholder="">
<button type="button" class="connect">Ja está</button>
<div class="status"></div>

	<div class="controls" style="display:none">
		<button type="button" class="shoot">SHOOT!</button>
	</div>

</body>
</html> 